<div role="article" id="guide-item-{{.data.Slug}}">
   {{if .thumb}}
   <img role="presentation" src="./assets/guide/{{.data.Slug}}.jpg" alt="{{.data.Slug}}" />
   {{end}}
   <h3>
      <span class="count">
         {{if .noindex}}
         0{{add .index 1}}.
         {{else}}
         4.{{add .index 1}}
         {{end}}
      </span>
      &nbsp;{{.data.Title}}
   </h3>
   {{.data.Content | markdownify}}
</div>