{{ $id := .id}}
{{ $model := .model}}

<div class="examples-wrapper examples-wrapper-{{$id}}">
	<div class="examples-actions">
		<h4>{{.data.header}}</h4>
		<div id="slider-buttons-{{$id}}" class="slider-buttons"></div>
		{{if .data.all}}
		<a href="{{.data.all}}" target="_blank" rel="external" class="examples-all"
			onclick="track(this, '{{ $model }} examples', 'see example', 'all');"
		>see more</a></h4>
		{{end}}
	</div>
	<div id="slider-examples-{{$id}}" class="slider-examples">
		{{ range $i, $elem := .data.links }}
		<div class="slide" style="position: relative" data-author="{{.author}}" data-url="{{.url}}">
			<a target="_blank" href="{{.url}}"
				onclick="track(this, '{{ $model }} examples', 'see example', '{{$id}}-{{add $i 1}}');"
			>
				<img data-lazy="../img/blender/examples/example-{{$id}}-{{add $i 1}}.jpg?v={{now.Unix}}" />
			</a>
		</div>
		{{ end }}
	</div>
</div>