{{ $dataFolder := index .Site.Data .Params.model }}
{{ $hero := index $dataFolder "hero" }}
{{ $config := index $dataFolder "config" }}

<section class="section-hero">
  <div class="container">
    <div role="presentation">
      <h1>{{$hero.header}}<b>{{$hero.headerVersion}}</b></h1>
      <h3>{{$hero.subheader}}</h3>
    </div>
    <div class="hero negative-margin">
      <header>
        <h1>{{$hero.header}}<b>{{$hero.headerVersion}}</b></h1>
        <h3>{{$hero.subheader}}</h3>
      </header>
      <ul role="complementary">
        {{ range $hero.features }}
        <li>
          › {{.}}
        </li>
        {{ end }}
      </ul>
      <footer>
        <a class="btn btn-primary download-link" href="{{.Params.download}}" target="_blank"
          onclick="track(this, '{{ .Params.model }} hero', 'download model', '{{ .Params.version }}');">
          <span>DOWNLOAD NOW &nbsp;<i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i></span>
          <small>updated {{.Params.updateDate}}</small>
        </a>
        <a class="btn btn-secondary scroll-to" href="#user-guide"
          onclick="track(this, '{{ .Params.model }} hero', 'see guide', '{{ .Params.model }}');">
          <span>READ USER GUIDE</span>
          <small>PLUS TIPS & TRICKS</small>
        </a>
      </footer>
    </div>
  </div>
</section>