<div role="article" id="{{.data.Slug}}">
   {{if .data.Params.thumb}}
   <div role="presentation">
      <img src="../img/{{.model}}/guide/{{.data.Params.slug}}.jpg" alt="{{.data.Slug}}" />
   </div>
   {{end}}

   <div class="markdown">
      <h3>
         <span class="count">
            {{if .noindex}}
            0{{add .index 1}}.
            {{else}}
            {{ if eq .model "blender" }}3{{else}}4{{end}}.{{add .index 1}}
            {{end}}
         </span>
         &nbsp;{{.data.Params.title}}
      </h3>
      {{.data.Content | markdownify}}
   </div>
</div>