<div class="collapsable-item">
	<h5 class="collapsable-question {{if .open }}{{else}}collapsed{{end}}" data-toggle="collapse"
		href="#collapse-{{.type}}-{{.index}}" role="button" aria-expanded="{{.open}}"
		aria-controls="collapse-{{.type}}-{{.index}}"
		{{if .open }}{{else}}
			onclick="track(this, '{{.model}} {{ .type }}', '{{ .action }}', '{{.data.Title}}' );"
		{{end}}
	>
		<span role="heading">
			<b>v{{.data.Params.version}}</b>
			<span>({{.data.Params.releaseDate}})</span>
		</span>
		<span class="icon plus">+</span>
		<span class="icon minus">-</span>
	</h5>
	<div class="collapse collapsable-answer {{if .open }}show{{end}}" id="collapse-{{.type}}-{{.index}}">
		<div class="markdown">
			{{.data.Content | markdownify}}
		</div>
		<br><br>
	</div>
</div>