{{ $changelogFolder := (printf "\\%s\\changelog\\" .Params.model) }}

<article id="version-checker" class="modal modal-version" aria-hidden="true">
    {{/* ---------------------------------------------------------- [ UP TO DATE ] */}}
    <section class="modal-content" id="version-current" aria-hidden="true">
      <header>
        <img src="../img/daz/version-current.jpg" />
        <div class="summary">
          <h4>Version checker</h4>
          <h3>YOU'RE UP TO DATE</h3>
          <span class="version">
            Your version: <b>{{.Params.version}}</b>
          </span>
          <span class="version">
            Latest version: <b>{{.Params.version}}</b> (updated {{.Params.updateDate}})
          </span>
        </div>
      </header>
      <footer>
        <button class="btn btn-secondary" onclick="closeModal()">CLOSE</button>
      </footer>
    </section>
    {{/* ---------------------------------------------------------- [ UNSUPORTED ] */}}
    <section class="modal-content" id="version-unsupported" aria-hidden="true">
      <header>
        <img src="../img/daz/version-unsupported.jpg" />
        <div class="summary">
          <h4>Version checker</h4>
          <h3>UNKNOWN VERSION</h3>
          <p>
            You wouldn't try to trick me now, would you?
          </p>
        </div>
      </header>
      <footer>
        <button class="btn btn-secondary" onclick="closeModal()">CLOSE</button>
      </footer>
    </section>
    {{/* ---------------------------------------------------------- [ UPDATE AVAILABLE ] */}}
    <section class="modal-content" id="version-old" aria-hidden="true">
      <header>
        <img src="../img/daz/version-old.jpg" />
        <div class="summary">
          <h4>Version checker</h4>
          <h3>UPDATE AVAILABLE</h3>
          <span class="version">
            Your version: <b id="user-version">...</b>
          </span>
          <span class="version">
            Latest version: <b>{{.Params.version}}</b> (updated {{.Params.updateDate}})
          </span>
        </div>
      </header>
      <div class="modal-body updates">
        {{ range $index, $data := (where .Pages "File.Dir" "in" $changelogFolder) }}

        {{ if ne $data.Params.beforeChecker true}}
        <section class="markdown" aria-hidden="true" id="version-{{$data.Params.version}}">
          <h5>{{$data.Params.version}} ({{$data.Params.releaseDate}})</h5>
          {{$data.Content | markdownify}}
        </section>
        {{ end }}

        {{ end }}
      </div>
      <footer>
        <button class="btn btn-secondary" onclick="closeModal()">CLOSE</button>
        <a class="btn btn-primary download-link" href="{{.Params.download}}" target="_blank"
          onclick="track(this, '{{.Params.model}} version check', 'download model', '{{.Params.version}}');">
          <span>DOWNLOAD NOW &nbsp;<i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i></span>
        </a>
      </footer>
    </section>
</article>