{{ $model := .Params.model }}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="navbar">
  <div class="container">
    <div class="navbar-brand" onclick="toggleMenu()"><span class="ui-icon icon-avatar"></span></div>
    <ul class="navbar-nav" role="menu">
      <li class="nav-item">
        <span class="nav-link  scroll-to" href="#features"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'features');">features</span>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#examples"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'examples');">examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#feedback"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'feedback');">feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#user-guide"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'user guide');">user guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#changelog"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'changelog');">changelog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#contact"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'contact');">contact</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-primary download-link" href="{{.Params.download}}" target="_blank"
          onclick="track(this, '{{ $model }} navbar', 'download model', '{{ .Params.version }}');">
          DOWNLOAD &nbsp;<i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i>
        </a>
      </li>
    </ul>
  </div>
</nav>