{{ $model := .Params.model }}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="navbar">
  <div class="container">
    <div class="navbar-brand" onclick="toggleMenu()"><span class="ui-icon icon-avatar"></span></div>
    <ul class="navbar-nav" role="menu">
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="/blender/"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'features');">features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#daz-setup"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'daz setup');">Setup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#install-daz-content"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'add content');">Add content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#export-daz-content"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'export outfits');">Outfits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  scroll-to" href="#export-daz-poses"
          onclick="track(this, '{{ $model }} navbar', 'navigate', 'export poses');">Poses</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-primary download-link" href="{{.Params.download}}" target="_blank"
          onclick="track(this, '{{ $model }} navbar', 'download model', '{{.Params.version}}');">
          DOWNLOAD &nbsp;<i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i>
        </a>
      </li>
    </ul>
  </div>
</nav>