{{ $guideFolder := (printf "\\%s\\guide\\" .context.Params.model) }}
{{ $model := .context.Params.model }}

<section class="section-guide" id="user-guide">
  <div class="container">
    <h2><b>0{{.index}}.</b> user guide</h2>
    <p>
      {{ if eq .model "blender" }}
      Some useful guides for using the model.
      {{ else }}
      This guide will take you through the basics of using the model but assumes you have beginner level understanding
      of working with DAZ.
      {{ end }}
    </p>
    {{ range $index, $data := (where .context.Pages "File.Dir" "in" $guideFolder) }}
    {{$first := eq $index 0}}
    {{ partial "item-guide.html" (dict "index" $index "data" $data "model" $model ) }}
    {{ end }}
  </div>
</section>