<section id="features" class="section-divider">
  <div class="container text-center">
    <h2>Ready to get started?</h2>
    <p>Start using the model or read on below for more features, user guides plus tips & tricks</p>
    <a class="btn btn-primary download-link" href="{{.Params.download}}" target="_blank" rel="external"
      onclick="track(this, '{{.Params.model}} divider', 'download model', '{{.Params.version}}');">
      DOWNLOAD NOW
      <i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i>
    </a>
    <a class="btn btn-secondary" href="#user-guide"
      onclick="track(this, '{{.Params.model}} divider', 'see guide', 'see guide');">
      USER GUIDE
    </a>
  </div>
</section>