{{ $dataFolder := index .context.Site.Data .context.Params.model }}
{{ $examples := index $dataFolder "examples" }}

<section id="examples">
  <div class="container">
    <h2><b>0{{.index}}.</b> Examples</h2>
    <p>Here are some examples of what you can create with it, from newest to oldest:</p>
    <ul id="examples-slider">
      {{ range $examples.link }}
      <li class="slide">
        <a href="{{.url}}" target="_blank">
          <img src="../img/daz/examples/{{.id}}.jpg" alt="{{.author}} Pharah fan-art" />
          <span>{{.author}}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</section>