{{ $dataFolder := index .context.Site.Data .context.Params.model }}
{{ $recommended := index $dataFolder "recommended" }}

<section id="recommended" class="section-recommended">
  <div class="container">
    <h2><b>0{{.index}}.</b> Recommended assets</h2>
    <p>
      Here are some DAZ assets that work great with this model:
    </p>
    <ul class="recommended">
      {{ range $recommended.asset }}
      <li class="asset" data-target="#card-{{.id}}" aria-expanded="false"
        onclick="track(this, 'daz recommended assets', 'view asset', '{{ .header }}');"
        >
        <div class="asset-image">
          <img class="w-100" src="../img/daz/recommended/{{ .id }}.jpg">
        </div>
        <a href="{{ .url }}" target="_blank" onclick="track(this, 'open_recommendation', '{{ .header }}', true);">
          <h4>
            <span>{{ .header }}</span>
            <i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i>
          </h4>
        </a>
        <p>{{ .body }}</p>
      </li>
      {{ end }}
    </ul>
  </div>
</section>