{{ $dataFolder := index .context.Site.Data .context.Params.model }} 
{{ $features := index $dataFolder "features" }} 
{{ $model := .context.Params.model }}

<section id="features" class="section-features">
  <div class="container">
    <h2><b>0{{.index}}.</b> Features</h2>
    <p>
      Here are the main features of the model, and some of them are marked with
      the following tags:
    </p>
    <ul class="list">
      <li>
        <mark>NEW</mark> these are new features added since the last major
        update (such as when going from v1.0 to v1.1)
      </li>
      <li>
        <mark>UPDATED</mark> these are features that suffered major updates
        since the last major update (such as when going from v1.0 to v1.1)
      </li>
    </ul>
    <ul class="features">
      {{ range $features.feature }}
      <li
        class="feature collapsed {{if .updated}}updated{{else if .new}}new{{else}}old{{end}} {{if .body}} {{else}}Xdisabled{{end}} "
        data-toggle="collapse"
        data-target="#card-{{.id}}"
        aria-expanded="false"
        onclick="track(this, '{{$model}} features', 'expand feature', '{{ .header }}');"
      >
        <div class="feature-image">
          <img
            class="w-100"
            src="../img/{{$model}}/features/{{ .id }}.jpg"
            width="300"
            height="300"
          />
        </div>
        <header>
          <h4 class="card-title mb-0">{{ .header }}</h4>
          <div role="presentation">
            {{if .updated}}
              <mark class="updated">updated</mark>
            {{else if .new}}
             <mark class="new">new</mark>
            {{end}} 
            {{if (or .note .updated .new) }} {{else}}
              {{ with .body }}
                <b class="plus">+</b>
                <b class="minus">-</b>
              {{end}}
            {{end}}
          </div>
        </header>
        {{if .body}}
          <footer class="collapse" id="card-{{.id}}">
            <p>
              {{ .body }}
              <br />
            </p>
          </footer>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</section>
