{{ $changelogFolder := (printf "\\%s\\changelog\\" .context.Params.model) }}
{{ $itemFound := false }}
{{ $model := .context.Params.model }}

<section class="section-changelog" id="changelog">
   <div class="container">
      <h2><b>0{{.index}}.</b> changelog</h2>
      <div class="faq">
         {{ range $index, $data := (where .context.Pages "File.Dir" "in" $changelogFolder) }}
            {{ partial "item-collapsable.html" (dict "index" $index "data" $data "type" "changelog" "open" $data.Params.expand "action" "expand version" "model" $model) }}
         {{ end }}
      </div>
   </div>
</section>