{{ $model := .context.Params.model  }}

<section id="intro">
  <div class="container">
    <h2><b>0{{.index}}.</b> Introduction</h2>
    <p class="mb-0">
      {{ if eq $model "blender" }}
        This is a free 3D model of Pharah from Overwatch for Blender 3.0 and it's a followup to the <a  target="_blank" href="https://pharah.gitlab.io/model/blender/">previous model I made<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a> which, despite being quite great overall, had one major limitation: importing outfits.
        <br/>
        <br/>
        There was no way to automatically import them and adding an outfit manually would throw you into weight painting hell (and forget about making it work with the bodymorphs). Rigging outfits was a chore I wanted to get away from and Daz Studio seemed to be the way to go. I wanted the simplest way of importing outfits (both for myself and people using the model) and there were two ways of doing it: the official <a  target="_blank" href="https://www.daz3d.com/daz-to-blender-bridge">Daz to Blender Bridge<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a> or <a  target="_blank" href="https://diffeomorphic.blogspot.com/">Diffeomorphic<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a>.
        <br/>
        <br/>
        Using Diffeomorphic looked like a more laborious and complicated process and after trying out the Daz to Blender bridge, it seemed like it was a solid choice. Fast forward many months and I released a new version of the Pharah model with a <a  target="_blank" href="https://pharah.gitlab.io/guide/v5/#daz-to-blender">guide for importing outfits<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a> which also worked with bodymorphs. Although it felt like I was close to reaching the initial goal, I also started having second thoughts about the choice I had made with the Daz to Blender bridge. For one the rig had some limitations and posing the shoulders was a pain in the ass. 
        <br/><br/>
        In addition to that importing poses from Daz did not work, and the auto-generated shaders were pretty crap and lot of time you'd need to tweak them. What really gave me the biggest second thoughts though was the community behind it. The Daz bridge seemed pretty much abandoned while Diffeomorphic, which was already way more powerful to begin with (even if harder to use), had a very active and thriving community (at the time of writing this the Daz to Blender Bridge has been updated <a  target="_blank" href="https://github.com/daz3d/DazToBlender">10 months ago<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a>, while Diffeomorphic was updated <a  target="_blank" href="https://bitbucket.org/Diffeomorphic/import_daz/commits/">yesterday<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a>).
        <br/>
        <br/>
        And so I bit the bullet and changed the direction, dropping all the progress I had up to that point. I started almost from scratch as I redid the facemorph and tweaked the textures some more. I also took a detour first and make the model <a  target="_blank" href="https://pharah.gitlab.io/model/daz/">available for Daz Studio<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a>, which has proved <a  target="_blank" href="https://www.renderhub.com/pharah-best-girl/pharah-from-overwatch-for-g8f">quite successful<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a>. After that I got back on track, became more familiar with Diffeomorphic and I've been happy with the decision ever since and even though it might be intimidating for new users, I think that the guide I made will help you overcome that. 
      {{ else }}
        This is free 3d model of Pharah from Overwatch for Genesis 8 Female (Daz 3D).
        <br/>
        <br/>
        Although I'm not a DAZ 3D user, it has become a crucial part of rendering with Blender as a lot of outfits, models and bodymorphs are ported from there and as I started on a new version of <a href="https://pharah.gitlab.io/guide/#intro" target="_blank" rel="external">Pharah for
          Blender<i class="svg svg-text">{{partial "svg/external-link-light.svg" .}}</i></a>, I needed a DAZ model to serve as a basis.
        <br/>
        <br/>
        Since none of the existing Pharah models for DAZ were accurate enough for my liking, I decided to make a new one from scratch.
      {{ end}}
    </p>
  </div>
</section>











