{{ $examples := .context.Site.Data.blender.examples }}

<section class="section-examples section-padding" id="examples">
  <div class="container">
    <header>
      <h2><b>0{{.index}}.</b> see it in action</h2>
      <p>Here are some examples of what you can create with it</p>
    </header>
    <footer>
      {{ partial "examples-slider.html" (dict "id" "mine" "data" $examples.mine "model" .context.Params.model) }}
      {{ partial "examples-slider.html" (dict "id" "others" "data" $examples.others "model" .context.Params.model) }}
    </footer>
  </div>
</section>