<section class="section-contact section-padding" id="contact">
  <div class="container">
    <header>
      <h2><b>0{{.index}}.</b> contact</h2>
      <p>If you have any suggestions or bugs to report, or if you just want to follow my work, you can do so on</p>
    </header>
    <footer>
      <div role="cell">
        <a href="https://twitter.com/PharahBestGirl" target="_blank" class="large"
          onclick="track(this, '{{.Params.model}} contact', 'initiate contact ', 'twitter');"
        >
          <h4>
            <strong>@PharahBestGirl</strong>
            <i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i>
          </h4>
        </a>
      </div>
      <div role="cell">
        <a href="https://pharah-best-girl.deviantart.com/" target="_blank" class="large"
          onclick="track(this, '{{.Params.model}} contact', 'initiate contact ', 'deviantart');"
        >
          <h4>
            <strong>pharah-best-girl</strong>.deviantart.com
            <i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i>
          </h4>
        </a>
      </div>
    </footer>
  </div>
</section>