<section id="feedback" class="section-divider">
  <div class="container text-center">
    <h2>Want to provide feedback or suggestions?</h2>
    <p>Want to suggest a feature, report a bug or simply leave your feedback? Follow the link below</p>
    <a class="btn btn-primary" href="./feedback" target="_blank" rel="external"
      onclick="track(this, '{{ .Params.model }} feedback', 'submit feedback ', 'submit feedback ');"
    >
      SUBMIT FEEDBACK
      <i class="svg">{{ partial "svg/external-link-bold.svg" . }}</i>
    </a>
  </div>
</section>