/*******************************************************************************[ TYPOGRAPHY ] */

html {font-family: theme('fontFamily.body');line-height: theme('lineHeight.normal');background : theme('colors.white');color      : theme('colors.body');}
h1 {font-weight: theme('fontWeight.medium');font-family: theme('fontFamily.heading');}
h2 {font-family: theme('fontFamily.heading');font-weight: theme('fontWeight.normal');}
h3 {font-family: theme('fontFamily.heading');font-weight: theme('fontWeight.normal');}
h4 {font-weight: theme('fontWeight.normal');}
h5 {font-weight: theme('fontWeight.normal');}
h6 {font-weight: theme('fontWeight.normal');}

button,
input,
textarea {font-weight: theme('fontWeight.normal');}

a {@apply .text-primary .underline;}
html {@apply .text-base;}
h1 {@apply .text-h1;}
h2 {@apply .text-h2;}
h3 {@apply .text-h3;}
h4 {@apply .text-h4;}
h5 {@apply .text-h5;}
h6 {@apply .text-h6;}

button,
input,
textarea {@apply .text-base;}
svg {fill: currentColor;}

h1, h2, h3, h4, h5, h6 {@apply  font-heading font-semibold leading-none;}
h2, h3, h4, h5, h6 {@apply uppercase;}
h2 b,
h3 b {@apply .text-primary;}
h2 + p {@apply mt-2;}
h4 {@apply .font-medium;}

@media (max-width: 767.8px) {
   h2          {   font-size: 36px; }
   .br-desktop {   @apply .hidden; }
}


/*******************************************************************************[ HTML, BODY ] */

html {@apply .bg-white;}
body {
   @apply .text-body .leading-normal .font-body  .w-full .overflow-x-hidden;
   overflow-y: scroll; 
   /* has to be scroll, not auto */-webkit-overflow-scrolling: touch;
   fill: currentColor;

}
a, button {@apply .select-none;}

.download-link img {display: inline;}

a[rel="external"]:after {content: '';display: inline-block;margin-left: 5px;margin-right: 2px;width: 14px;height: 14px;background: url(../assets/external-link-light.svg) no-repeat top left;background-size: 14px 14px;}

.container {@apply max-w-container mx-auto px-3;}

section {@apply .relative .bg-white;box-shadow: 0px 10px 30px rgba(100,100,100,0.08);}
.section-padding {@apply .py-6;}

section:nth-child(odd) { @apply .bg-light; }



.bg-mobile {@apply .hidden;}

@media (max-width: 992px) {
   .section-padding {   @apply .py-5;}
   .negative-margin {   @apply .-mx-3;}
}
@media (max-width: 767.8px) {
   .negative-margin {   @apply .-mx-2;}
	.container {    @apply px-2;}
	.section-hero { background: transparent !important; }
   .bg-mobile { 
      @apply .block .h-screen .fixed .top-0 .bottom-0 .w-screen;   
      background: url(../assets/bg-mobile-4-0.jpg) no-repeat center center;   
      background-size: cover;   border-top: 54px solid #fff;
   }
}

section:nth-child(1) { z-index: 15}
section:nth-child(2) { z-index: 14}
section:nth-child(3) { z-index: 13}
section:nth-child(4) { z-index: 12}
section:nth-child(5) { z-index: 11}
section:nth-child(6) { z-index: 10}
section:nth-child(7) { z-index: 9}
section:nth-child(8) { z-index: 8}
section:nth-child(9) { z-index: 7}
section:nth-child(10) { z-index: 6}
section:nth-child(11) { z-index: 5}
section:nth-child(12) { z-index: 4}
section:nth-child(13) { z-index: 3}
section:nth-child(14) { z-index: 2}
section:nth-child(15) { z-index: 1}

/*******************************************************************************[ COMMON ] */

mark {@apply text-white font-body font-heading font-medium uppercase .tracking-wide;padding: 3px 7px;background: #939393;}
mark.updated {@apply .bg-secondary;}
mark.new {@apply .bg-primary .ml-1;}
mark.note {@apply .bg-danger .ml-1;}

.collapse:not(.show) {display: none;}
.collapsing {position: relative;height: 0;overflow: hidden;transition: height .35s ease;}

.tab-content>.tab-pane {display: none;}
.tab-content>.active {display: block;}
.fade {transition: opacity .15s linear;}

/*******************************************************************************[ HERO ] */

.section-hero {
   @apply relative; 
   background: url(../assets/bg-scenary-4-0.jpg) no-repeat top center;
   background-size: cover;
   margin-top: 65px;
   z-index: 2;
}

.hero {
	@apply .flex .flex-col .pl-6 .text-left .justify-center .items-start ;color: rgba(255,255,255,0.92); 
	overflow: hidden;
	height         : 630px;
	background     : url(../assets/bg-hero-4-0.jpg) no-repeat center center;background-size: cover;box-shadow     : 0px 0 20px rgba(50, 50, 50, 0.2);}

.hero h1 {@apply leading-none mb-1 .text-primary;}
.hero h3 {@apply leading-tight tracking-wide .font-medium; color: #FFF; opacity: 0.8;  }
.hero ul[role="complementary"] {@apply my-4 ;}
.hero ul[role="complementary"] li {@apply font-heading uppercase tracking-wide .font-medium .text-secondary;font-size: 20px;  }

.hero footer {@apply .flex .items-end;}

.hero .btn {@apply text-white uppercase no-underline font-heading text-center cursor-pointer tracking-wide; padding: 10px 20px;min-width: 186px;transition: all 0.3s ease-in-out;}

.hero .btn span {@apply font-semibold .text-btn;
}
.hero .btn span, 
.hero .btn small {pointer-events: none;}

.hero .btn small {font-size: 15px;}

.hero .btn-primary {@apply bg-primary border-primary block;}
.hero .btn-primary svg {width: 18px;height: 18px;display: inline-block;}

.hero .btn-primary:hover {@apply .bg-primary-hover;}

.hero .btn-secondary {@apply ml-2; background: rgba(73, 133, 171, 0.7) }
.hero .btn-secondary:hover { background: rgba(73, 133, 171, 0.8)}



@media (min-width: 768px) {.section-hero [role="presentation"] {   @apply .hidden;}}
@media (max-width: 767.8px) {
	.hero {   @apply .h-screen .flex .flex-col .justify-between .px-2 .py-4 .relative .leading-normal .text-left;   background: url(../assets/bg-scenary-4-0.jpg) no-repeat top right;   background-size: cover;   box-shadow: 0px 0px 30px rgba(50,50,50,0.6);}
	.section-hero [role="presentation"] {   @apply .block .visible .flex .flex-col .justify-center ;   /* background: url(../assets/bg-mobile.jpg) no-repeat center center; */   /* background-size: cover; */   height: calc(100vh - 54px);}
	.section-hero [role="presentation"] h1 {   @apply .text-white .px-2 .py-4 .text-center .tracking-wide;   text-shadow: 0px 0px 20px rgba(59, 59, 59, 1);   opacity: 0.85;   font-size: 64px;}
	.hero ul[role="complementary"] { @apply .w-full }
	.hero .btn {   min-width: 150px;}
	.hero .btn-primary,
	.hero .btn-primary:hover {   @apply .bg-primary;}
	.hero footer { @apply .items-stretch .w-full }
	.hero h1 {   @apply .hidden;}
	.hero h3 {    @apply .leading-normal;}
	.section-hero {   background-image: none;   margin-top: 54px;   box-shadow: none;}
}
@media (max-width: 540px) { .hero footer {   @apply block;}.hero .btn {   @apply .w-full .block;   box-sizing: border-box;   min-width: auto;}.hero .btn-secondary {   @apply .ml-0 .mt-2;}.hero ul[role="complementary"] {   @apply .mt-2;}}


/*******************************************************************************[ UI VIDEO ] */
.section-ui {@apply .pt-6;background-color: #E1D5E0;}

.section-ui header {@apply block text-center pb-4;}
@media (max-width: 540px) { .section-ui {   @apply .pt-5;}}

/*******************************************************************************[ DIVIDER ] */
.section-divider {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.section-divider .container {@apply py-5 text-center;}
.section-divider h3, 
.section-divider p {@apply text-center;} 

.section-divider .btn {@apply font-heading inline-block font-semibold no-underline uppercase text-btn;transition: all 0.3s ease-in-out;border: 1px solid #fff;padding: 12px 20px;min-width: 180px;}
.section-divider footer {@apply pt-3;}
.section-divider .btn-primary {@apply bg-primary text-white border-primary;}
.section-divider .btn-primary:hover {@apply .bg-primary-hover;}
.section-divider .btn-secondary {@apply text-body border-body ml-2;}
.section-divider .btn-secondary:hover {background: rgba(100,100,100,0.1);}
.section-divider .dropdown-wrapper {@apply .inline-block;}

@media (max-width: 540px) { .section-divider .btn-primary,.section-divider .btn-secondary {   @apply .mx-4;}.section-divider .btn-secondary {   @apply mt-2;}}


/*******************************************************************************[ FEATURES ] */  

.section-features header ul {@apply mt-2 pl-3 ;}
.section-features header li {list-style-type: disc;}
.section-features header li + li {@apply mt-1;}
.features {@apply flex pt-3 flex-wrap items-start -mx-2;}

li.feature {@apply bg-white mx-2 mb-3 .cursor-pointer;transition:all 0.3s ease-in-out;/* border: 1px solid #FFF; */padding: 5px;width: calc(25% - 2 * theme('spacing.2'));}
li.feature:hover {/* border-color:#e5e5e5; */@apply shadow-lg;}
li.feature header {@apply .flex .flex-no-wrap .justify-center;padding: 7px 0 2px;}
li.feature header h4 {@apply flex-grow;}
li.feature p {padding: 6px 0;font-size: 15px;line-height: 20px;}
li.feature header .minus,
li.feature header .plus {@apply font-heading font-medium leading-none;font-size: 24px;padding-right:4px;}
li.feature.collapsed .minus {@apply hidden;}
li.feature:not(.collapsed) .plus {@apply hidden;}
li.feature.disabled	{ cursor: default }

.section-features .container > footer {@apply mt-4 pt-4;border-top: 1px dotted #999;}

.features-notes { @apply .mt-3 .flex .flex-wrap; }
.features-notes mark { @apply .ml-0; }
.features-notes .cell h5 { @apply .mb-1; }
.features-notes .cell-short { @apply .pr-2 w-1/2; }
.features-notes .cell-short + .cell-short { @apply .pl-2 .pr-0; }



@media (max-width: 992px) {li.feature {   width: calc(33.3% - 2 * theme('spacing.2'));}}
@media (max-width: 767.8px) {li.feature {   width: calc(50% - 2 * theme('spacing.2'));}.features-notes .cell-short {   @apply .w-full .pl-0;}.features-notes .cell-short + .cell-short {   @apply .mt-3 .pl-0;}mark.note {   @apply .ml-0;}mark.updated,mark.new,mark.note {   @apply .ml-1;}.features-notes mark.note {   @apply .ml-0;}}



/*******************************************************************************[ EXAMPLES  ] */  

.section-examples footer {@apply flex;}
.section-examples .slick-track {}
.examples-wrapper {width: 50%;@apply .flex .flex-no-wrap;}
.examples-actions { @apply w-1/3;}
.slider-examples { @apply w-2/3;}
.examples-wrapper .slider-buttons button {@apply .font-heading .leading-relaxed;font-size: 18px;}
.examples-wrapper .slider-buttons .slick-active button {/* @apply .bg-primary .text-white; */@apply .text-primary .font-normal;}

.examples-wrapper-mine {@apply .pr-2;}
.examples-wrapper-mine .slider-buttons {@apply .text-right;@apply .-mr-2;}
.examples-wrapper-mine .slider-buttons button {@apply .pl-1 .pr-2;}
.examples-wrapper-mine h4 {@apply .text-right .mb-1;}
.examples-wrapper-mine .examples-actions {@apply .text-right .pr-2;}

.examples-wrapper-others {@apply .pl-2;}
.examples-wrapper-others h4 {@apply .mb-1;}
.examples-wrapper-others .examples-actions {@apply .order-2 .pl-2;}
.examples-wrapper-others .slider-buttons { @apply .-ml-2;}
.examples-wrapper-others .slider-buttons button {@apply .pl-2 .pr-1;}
.examples-all {@apply .no-underline .font-heading  .block .mt-2;font-size: 18px;}

.section-examples {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.section-examples header h2, 
.section-examples header p {@apply text-center;} 
.section-examples [role="cell"] {width: 50%;}
.section-examples footer {@apply .mt-4 .flex .flex-no-wrap;}
.section-examples [role="cell"]:first-child {@apply .pr-2;}
.section-examples [role="cell"]:last-child {@apply .pl-2;}

@media (max-width: 767.8px) {.section-examples header h2,.section-examples header p {   @apply .text-left;}.section-examples footer {   @apply .flex-wrap;}.examples-wrapper {   width: 100%;   @apply .px-0;}.examples-wrapper-mine {   @apply .mb-3;}.examples-actions {   @apply .pr-0;}.examples-wrapper-mine .examples-actions {   @apply .order-2 .pl-2 .pr-0 .text-left;}.examples-wrapper-mine .slider-buttons {   @apply .text-left;}.examples-wrapper-mine .examples-actions h4 {   @apply .text-left;}.examples-wrapper-mine .slider-buttons button {   @apply .pl-0;}.examples-wrapper .slider-buttons button {   @apply .text-left;}}


/*******************************************************************************[ TOOLTIPS ] */  

.tooltip { @apply .opacity-1 .inline .relative .underline .cursor-help; color: #9e6039;}
.tooltip_templates { @apply hidden; }
.tooltip-image { 
	width: 300px; 
	height: 300px; }
.tooltipster-sidetip .tooltipster-content {
	overflow: visible !important;padding: 10px !important;color: #FFF;}
.tooltipster-sidetip.tooltipster-light .tooltipster-box {
	border: 0 !important;
	background: theme('colors.primary') !important;}

.tooltipster-sidetip.tooltipster-light.tooltipster-top .tooltipster-arrow-background {
	border-top-color: theme('colors.primary') !important;}
.tooltipster-sidetip.tooltipster-light.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: theme('colors.primary') !important;}

.tooltip-large .tooltip-image {
	width: 519px; 
	height: 519px; }



/*******************************************************************************[ UI ICONS ] */  

.ui-icon {
   display: inline-block;
   width: 23px;
   height: 20px;
   margin: 0 0px;
   background: url(../assets/sprites-ui.png);
   vertical-align: text-bottom;
 }
 .ui-icon.icon-data {background-position: 0 -20px; }
 .ui-icon.icon-materials {background-position: 0 -40px; }
 .ui-icon.icon-node {background-position: 0 -60px; }
 .ui-icon.icon-modifier {background-position: 0 -80px; }
 .ui-icon.icon-file {background-position: 0 -120px; }
 .ui-icon.icon-edit-mesh {background-position: 0 -140px; }
 .ui-icon.icon-rig {background-position: 0 -160px; }
 .ui-icon.icon-shape-keys {background-position: 0 -200px; }
 .ui-icon.icon-armature {background-position: 0 -220px; }
 .ui-icon.icon-3d-view {background-position: 0 -240px; }
 .ui-icon.icon-masks {background-position: 0 -260px; }
 .ui-icon.icon-vertex-groups {background-position: 0 -280px; }
 .ui-icon.icon-data-block {background-position: 0 -300px; }

 span.ui { @apply .font-semibold; }

 .key { @apply .inline-block .text-center .uppercase; background: #d8d8d8; border: 1px solid #b3b3b3; padding: 2px 6px; min-width: 34px; font-size: 14px; font-family: monospace;
 }

/*******************************************************************************[ GUIDE ] */  


.section-guide h3 u {@apply .text-primary .no-underline ;}

.section-guide h3 {@apply .pt-4 .mb-1;}
.section-guide [role="article"]:after {display: block;content: '';clear: both;}

.section-guide img[role="presentation"] {@apply .float-left .mr-3 .mb-2;border: 4px solid #FFF;}

.section-guide [role="article"] {padding-top: 95px;@apply .relative;}

.section-guide [role="article"] + [role="article"] {padding-top: 100px;}
.section-guide [role="article"] + [role="article"]:before {@apply block absolute w-full;content: '';border-top: 1px dotted #bbb;top: 46px;}

.section-guide [role="article"] h3 {@apply .pt-0;}
.section-guide [role="article"] p {@apply .inline;}
.section-guide [role="article"] ol {@apply .pl-3 .mt-1; list-style-type: decimal;} 
.section-guide [role="article"] ol li {@apply .mb-1; list-style-position: inside;}

.nav-tabs-ui {@apply .flex .items-center .justify-center .mx-auto .my-3;;}
.tab-ui img {@apply w-full;}
.nav-tabs-ui .nav-link {border: 1px solid #000;@apply .inline-block .font-heading  .text-body .uppercase .no-underline .text-center .border-body .text-btn;padding: 12px 20px;min-width: 180px;}
.nav-tabs-ui .nav-link.active {@apply .bg-body .text-white;}

ul[role="list"] {@apply .pl-4 .my-1;list-style-type: disc;}
ul[role="list"] li +li {margin-top: 6px;}


@media (max-width: 992px) {.tab-ui {   @apply .overflow-scroll;}.tab-ui img {   width: 150%;   max-width: 1120px;}}

@media (max-width: 767.8px) {.nav-tabs-ui {   @apply .w-full .-mx-2 .pl-3 .mb-2;;}.nav-tabs-ui .nav-item {   @apply .flex-grow .relative;}.nav-tabs-ui .nav-link {   @apply .w-full;   font-size: 18px;   padding: 10px 10px;   box-sizing: border-box;   min-width: 40px;}.tab-ui {   @apply .pl-3;}}





/*******************************************************************************[ FAQ ] */  

.section-faq  {border-bottom: 1px solid #ccc;}

.section-faq header p {@apply .mb-3;}

.collapsable-item {border-bottom: 1px dotted #ccc;
 }
 .collapsable-item:first-child {border-top: 1px dotted #ccc;
 }
 .collapsable-item .collapsable-question {@apply .flex .flex-no-wrap .items-center .relative .mb-0 .text-h4 .uppercase .cursor-pointer;padding: 18px 0;
 }
 .collapsable-item .collapsable-question [role="heading"]{@apply .flex-grow;
 }
 .collapsable-item .collapsable-question .icon.plus {display: block;
 }
 .collapsable-item .collapsable-question .icon.minus {display: none;
 }
 .collapsable-item .collapsable-question:not(.collapsed) {font-weight: 600;
 }
 .collapsable-item .collapsable-question:not(.collapsed) .icon.plus {display: none;
 }
 .collapsable-item .collapsable-question:not(.collapsed) .icon.minus {display: block;
 }
 .collapsable-item .collapsable-question:hover {@apply .text-primary;
 }
 .collapsable-item .collapsable-question:hover .icon {@apply .text-primary;
 }
 .collapsable-item .collapsable-question .icon {font-size: 44px;
 }

 .collapsable-answer ul { @apply .pl-3 .mt-1 .inline-block; list-style-type: disc;
 }
.collapsable-question,
.collapsable-answer {@apply .select-none .leading-relaxed;}
.collapsable-answer ul + p {@apply .mt-2;}
.collapsable-answer ul + h5 {@apply .mt-2;}
 
@media (max-width: 992px) {.collapsable-item .collapsable-question,.collapsable-item .collapsable-answer {   @apply .px-2 .py-0;}}



/*******************************************************************************[ CHANGELOG ] */  


.section-changelog header {@apply .mb-3;}
.collapsable-answer h5 {color:#999;}

/*******************************************************************************[ CREDITS ] */  

.section-credits  {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.section-credits header {@apply .mb-3;}
.section-credits footer {@apply .flex .flex-wrap;}
.section-credits [role="cell"] {@apply .pr-2 .pb-3;width: 33.3%;}
.section-credits a {@apply .no-underline;}
.section-credits a h5:after,
.section-contact a h4:after {content: '';display: inline-block;margin-left: 5px;margin-right: 2px;width: 18px;height: 18px;background: url(../assets/external-link-bold-dark.svg) no-repeat top left;background-size: 18px 18px;}

.section-credits h5 {@apply .text-body .text-h4;}
.section-credits h5 strong {@apply .text-primary;}
.section-credits [role="cell"] p {@apply .pt-1;font-size: 15px;}

@media (max-width: 992px) {.section-credits h5 strong {   word-break: break-word;}}
@media (max-width: 767.8px) {.section-credits [role="cell"] {   width: 50%;}}

/*******************************************************************************[ CONTACT ] */  


.section-contact header {@apply .mb-3;}
.section-contact footer {@apply flex;}
.section-contact [role="cell"] {@apply .pr-2 .pb-2;width: 33.3%;}
.section-contact a {@apply .no-underline;}
.section-contact h4 {@apply .text-body .text-h4;}
.section-contact h4 strong {@apply .text-primary;}

@media (max-width: 767.8px) {.section-contact footer {   @apply .block;}.section-contact [role="cell"] {   @apply .w-full;}.section-contact h4 strong {   word-break: break-word;}.section-contact [role="cell"] + [role="cell"] {   @apply .mt-2;}}

/*******************************************************************************[ NAVBAR ] */  

.navbar {@apply .fixed .left-0 .right-0 .top-0 .bg-white;
	border-bottom: 1px solid #ddd;
	z-index: 1080;}

.navbar .nav-item {@apply .inline;
	margin-bottom: 0 !important;}

.navbar .container {@apply .flex .flex-no-wrap .items-center;
	position: relative;height: 70px;}

.navbar [role="menu"] {@apply .flex-grow;}

.navbar .nav-link {@apply  .inline-block .font-heading .text-body .no-underline .font-semibold .uppercase;
	border-radius: 0;
	font-size: 18px;padding: 0px 15px;height: 70px;line-height: 70px;border-bottom: 4px solid transparent;}
.navbar .nav-link.active {@apply .text-primary .border-primary;}

.navbar .btn.btn-primary {@apply .block .font-heading .no-underline .text-white .bg-primary;
	padding: 10px 25px;
	font-size: 18px;}
.navbar .btn.btn-primary:hover {@apply .bg-primary-hover;transition: all 0.3s ease-in;}

.navbar .navbar-brand {@apply .mr-2;}

.navbar .navbar-brand .icon-avatar {
	border-radius: 23px;
	border: 3px solid #eee;
	box-sizing: border-box;
	display: block;
	width: 50px;
	height: 50px;
	background: url(../assets/avatar6.png);
	background-size: cover;
	background-position: center center;
	cursor: pointer;}

.navbar .navbar-brand:hover .icon-avatar {
	border-color: #bbb;}

@media (max-width: 992px) {.navbar .container {   padding: 12px 12px;   height: auto;   /* height: 54px; */}.navbar .nav-link {   height: 54px;}[role="menu"] {   @apply .hidden .fixed .bg-white .left-0 .right-0;   top: 54px;}[role="menu"] .nav-item {   @apply .block .w-full;}.navbar .btn.btn-primary {   padding: 6px 25px;}.navbar .navbar-brand .icon-avatar {   width: 40px;   height: 40px;   border-color: #FFF;   border: 0;   box-shadow: 0 0 10px rgba(50,50,50,0.1);}.navbar-nav:nth-child(3) {   @apply .flex-grow .text-right;}.navbar .btn.btn-primary {   @apply .inline-block;}}


/*******************************************************************************[ TESTIMONIALS ] */ 

.section-testimonials  { @apply .py-6; border-top: 1px solid #ddd; }
.section-testimonials header { @apply .pb-3; }
.section-testimonials .container { @apply .text-center; }

.slider-testimonials { @apply .-mx-2 .flex .justify-center .items-start; }
.slider-testimonials .slick-slide { @apply .p-2; box-sizing: border-box; }

.section-testimonials .slick-arrow { @apply .hidden; }
.section-testimonials .slick-dots { display: flex !important; @apply .justify-center; }
.section-testimonials .slick-arrow { display: none !important; }
.section-testimonials .slick-dots { padding: 0 !important;}

.section-testimonials .slick-dots button { 
	padding: 16px;
	font-size: 0px; 
}
.section-testimonials .slick-dots button:before { 
	@apply .bg-light .rounded-full .inline-block; 
	content: '';
	width: 14px;
	height: 14px;  
	border: 1px solid #999;
}
.section-testimonials .slick-dots .slick-active button:before {
	@apply .bg-primary .border-primary;
}

twitter-widget	{ @apply .my-0 .mx-auto; }

@media (max-width: 768px) {
	.section-testimonials .slick-dots button { padding: 10px; }
	.section-testimonials .slick-dots button:before { width: 10px; height:10px; }
}

/*******************************************************************************[ POSES LIBRARY ] */ 

.section-poses {@apply .py-6;}
.section-poses h2 {@apply pb-1;}
.section-poses header {@apply block text-center pb-4;}
.section-poses header u {@apply .bg-primary .no-underline .mr-1;color: rgba(255, 255, 255, 0.8);padding: 0px 10px 3px;}
.section-poses img {@apply w-full;box-shadow: 0 0 40px rgba(111, 111, 111, 0.3);}

@media (max-width: 767.8px) {.section-poses {   @apply .pt-5 .pb-0;}}

/*******************************************************************************[ DROPDOWN MENU ] */ 

.dropdown-wrapper {@apply .relative;}
.dropdown {@apply .absolute .bg-primary;box-shadow: 3px 3px 3px rgba(100,100,100,0.3);display: none;}
.dropdown.open {@apply .block;}

.dropdown li a {@apply text-white block font-heading no-underline uppercase leading-snug  tracking-wide p-2;border-top: 1px solid rgba(100, 100, 100, 0.3);transition: all 0.3s ease-in-out;}
.dropdown li a:hover { @apply .bg-primary-hover;}

.dropdown li a b {@apply font-semibold text-btn;}
.dropdown li a p {@apply font-normal;opacity: 0.7;}


#navbar-dropdown {@apply .absolute;right: 0;min-width: 260px;}
#navbar-dropdown a {@apply .text-right;}

/*******************************************************************************[ MARKDOWN ] */ 

.markdown h2 { margin: 32px 0 12px;}
.markdown h3 .count { @apply text-primary; }
.markdown h4 { margin: 20px 0 8px;}
.markdown ul { @apply mt-2 pl-3 ;}
.markdown figcaption { @apply text-center w-full pt-1; }
.markdown a  { @apply text-body; }
.markdown a:after  { background: url(../assets/external-link-bold-dark.svg) no-repeat top left; }
.markdown a:hover  { @apply text-primary; }
.markdown ul li {list-style-type: disc;}
.markdown ul li + li { @apply mt-1;}
.markdown code { border: 1px solid rgba(66,66,66,0.4);padding: 0 5px; display: inline-block; border-radius: 4px;  }

