{{ define "header" }}
<meta http-equiv="refresh" content="2; url='{{.Params.redirect}}'" />
{{ end }}

{{ define "main" }}
<main>
  <section>
    <div class="container">
      <p>{{ .Content }}</p>
      <br />
      <a class="btn btn-primary" href="{{.Params.redirect}}">{{.Params.action}} <i class="svg">{{ partial
          "svg/external-link-bold.svg" . }}</i></a>
    </div>
  </section>
</main>
{{ end }}