{{ $seed := "foo" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}

<div class="guide-step">
   <p class="toggle" data-toggle="collapse" href="#collapse-{{ $random }}" role="button" aria-expanded="false"
      aria-controls="collapse-{{ $random }}">
      <span class="icon plus">+</span>
      <span class="icon minus">-</span>
      {{ .Get "text" }}
   </p>
   <article class="collapse" id="collapse-{{ $random }}">
      <div class="frame">
         <div class="content">{{.Inner | markdownify }}</div>
      </div>
   </article>
</div>