<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ .Params.description }}">
  <meta name="theme-color" content="{{ .Params.themeColor }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap"
    rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B5ZJPFWTMF"></script>
  <script>

    const SUPPORTED_VERSIONS = {{.Params.supportedVersions }};
    const DOWNLOAD_ALT = {{.Params.downloadAlt }};

    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-B5ZJPFWTMF');
  </script>
  <title>{{ .Params.title }}</title>
  {{ block "header" . }} {{ end }}

  {{ $theme := (printf "sass/theme-%s.sass" .Params.model) }}
  {{ $css1 := resources.Get $theme | resources.ToCSS }}
  {{ $css2 := resources.Get "css/slick.css" }}
  {{ $css3 := resources.Get "css/base.css" }}
  {{ $css4 := resources.Get "css/tooltipster-sideTip-light.min.css" }}
  {{ $css5 := resources.Get "css/tooltipster.bundle.min.css" }}

  {{ $css := slice $css1 $css2 $css3 $css4 $css5 | resources.Concat (printf "css/styles-%s.css" .Params.model) |
  resources.Minify }}

  <link rel="stylesheet" href="{{ $css.RelPermalink  }}" />
  <link rel="icon" type="image/png" href="https://pharah.gitlab.io/model/img/daz/avatar8b.jpg">

  <meta property="og:title" content="{{ .Params.title }}">
  <meta property="og:image" content="https://pharah.gitlab.io/model/img/{{.Params.model}}/og-image.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:description" content="{{ .Params.description }}">

</head>

<body>
  <!-- Piwik Pro  -->
  <script type="text/javascript">
    (function(window, document, dataLayerName, id) {
    window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
    function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
    var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
    var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
    tags.async=!0,tags.src="https://pharah.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
    !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
    })(window, document, 'dataLayer', 'cecb9c89-8f32-4123-8584-368397dd9913');
  </script>
  <!-- End Piwik Pro  -->


  <div class="bg-mobile"></div>
  <!-- Code that all your templates share, like a header -->
  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}
  {{ block "footer" . }}
  <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
  {{ end }}

  {{ $js1 := resources.Get "js/jquery.min.js" }}
  {{ $js2 := resources.Get "js/slick.min.js" }}
  {{ $js3 := resources.Get "js/scripts.js" }}
  {{ $js4 := resources.Get "js/bootstrap.min.js" }}
  {{ $js5 := resources.Get "js/smooth-scroll.js" }}
  {{ $js6 := resources.Get "js/change-url-on-scroll.js" }}
  {{ $js7 := resources.Get "js/tooltipster.bundle.min.js" }}

  {{ $js := slice $js1 $js2 $js3 $js4 $js5 $js6 $js7 | resources.Concat "js/minified.js" | resources.Minify }}
  <script type="text/javascript" src="{{ $js.RelPermalink  }}"></script>






</body>

</html>