{{ define "main" }}

{{ partial "navbar-daz-to-blender.html" . }}

<section class="section-hero-import" id="section-hero-import">
  <div class="background">a</div>
  <div class="container">
    <h2>how to import daz content</h2>

    <p>This guide will cover how to set up DAZ Studio and Blender for importing outfits, poses and for Pharah v5, as
      quickly and
      painlessly as possible. In addition to that, the outfits will have proper deformations (for knees, elbows, etc)
      and work with all the custom body shapekeys (body type, breasts size, etc).
      <br />
      <br />
      Before we begin, let's address some potential questions:
    </p>

    <ul class="list">
      <li>
        <b>Why DAZ?</b>
        <p>Because it's popular and it has some good content in there and their Daz to Blender Bridge addon made the
          importing possible. Their models' deformations are top notch and even though I think 95% of the outfits
          available are over designed crap, that still leaves a 5% of a huge number of outfits available.
        </p>
      </li>
      <li>
        <b>Do I need to know how to use DAZ Studio?</b>
        <p>Not really.
          I can't exactly say I know how to use it either, but I can export outfits from it and this guide will make
          sure you know how to do that as well.
        </p>
      </li>
      <li>
        <b>Are there any limitations?</b>
        <p>Some outfits might still not come out perfectly in terms of fitting, but they will usually be around 99%
          there, and covering the remaining 1% should be fairly trivial.
        </p>
      </li>
    </ul>

    <p>
      This guide consists of two main parts: setup and importing. You will only need to do the setup once. The
      importing process will need to be repeated each time you will want to add a new outfit.
    </p>

  </div>
</section>


<main>
  {{ range $index, $data := (where .Site.RegularPages "Type" "daz-to-blender-guide") }}
  <section class="section-daz-to-blender-guide" id="{{$data.Slug}}">
    <div class="container ">
      {{$first := eq $index 0}}
      {{ partial "daz-to-blender-guide-item.html" (dict "index" $index "data" $data "thumb" .Params.thumb "noindex"
      true) }}
    </div>
  </section>
  {{ end }}
</main>


<div class="tooltip_templates">
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-central" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-content-library" "text" "" "image" true "size" "large") }}

  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-content-library" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-export-menu" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-scripts" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-addons" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-panels" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-female" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-outfits" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-outfits-2" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-broken-daz-outfit" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-select-top" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-top-material" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-import" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-armatures" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-armatures-2" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-armatures-3" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-armatures-4" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-meshes" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-reset" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-meshes-2" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-fitting" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-modifier-rig" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-copy-driver" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-paste-driver" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-clipping" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-shapekeys" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-reset-bodymorphs" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-search-pose" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-blender-model-with-rig" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-daz-importer-pose" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-fk-ik" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-copy-pose" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-paste-pose" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-add-pose" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-apply-pose" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-extra-bones" "text" "" "image" true "size" "large") }}
  {{ partial "tooltip-item.html" (dict "id" "tooltip-apply-pose" "text" "" "image" true "size" "large") }}


</div>


{{ end }}