{{ define "header" }}
	<script>
		var myWorks = [
			{{ range .Site.Data.blender.examples.mine.links }}
				"{{.author}}",
			{{ end }}
		];
		var othersWorks = [
			{{ range .Site.Data.blender.examples.others.links }}
				"{{.author}}",
			{{ end }}
		];
		var downloadLink = {{ .Site.Params.downloadLink }}
	</script> 
{{ end }}

{{ define "main" }}

{{ partial "navbar.html" . }}
{{ partial "hero.html" . }}
<main>
  {{ partial "section-video.html" }}
  {{ partial "section-intro.html" (dict "index" "1" "context" .) }}
  {{ partial "section-features.html" (dict "index" "2" "context" . ) }}
  {{ partial "section-divider.html" . }}
  {{ partial "section-examples.html" (dict "index" "3" "context" . ) }}
  {{ partial "section-feedback.html" . }}
  {{ partial "section-guide.html" (dict "index" "4" "context" . ) }}
  {{ partial "section-changelog.html" (dict "index" "5" "context" . ) }}
  {{ partial "section-contact.html" (dict "index" "6" "context" . ) }}
</main>

{{ partial "modal-version.html" . }}
<div class="tooltip_templates">
	{{ partial "tooltip-item.html" (dict "id" "tooltip-poses-library" "text" "" "image" true "size" "large") }}
	{{ partial "tooltip-item.html" (dict "id" "tooltip-empty-shapes" "text" "" "image" true "size" "large") }}
	{{ partial "tooltip-item.html" (dict "id" "tooltip-transparent-bounces" "text" "" "image" true "size" "large") }}
	{{ partial "tooltip-item.html" (dict "id" "tooltip-posing-problem" "text" "Moving the elbow down would move the palm up" "image" true "size" "large") }}
	{{ partial "tooltip-item.html" (dict "id" "tooltip-posing-problem-2" "text" "" "image" true "size" "large") }}
</div>
{{ end }}