.btn
	font-family: $font-heading
	display: inline-block
	font-weight: $font-heading-weight
	font-size: 20px
	text-decoration: none
	text-transform: uppercase
	transition: all 0.3s ease-in-out
	border: 1px solid #fff
	padding: 15px 20px
	min-width: 180px
	text-align: center
	font-style: italic
	letter-spacing: 0.3px

.btn-primary
	background: $color-primary
	color: #FFF
	border: 1px solid $color-primary
	
	&:hover
		background: darken($color-primary, 5%)

.btn-secondary
	color: $color-body
	border: 1px solid $color-body
	margin-left: 16px

	&:hover
		background: rgba(100,100,100,0.1)