.collapsable-item
	border-bottom: 1px dotted #ccc

	&:first-child 
		border-top: 1px dotted #ccc

	.collapsable-question
		display: flex
		flex-wrap: nowrap
		align-items: center
		position: relative
		margin-bottom: 0
		text-transform: uppercase
		cursor: pointer
		padding: 6px 0
	
		[role="heading"]
			flex-grow: 1
			b
				color: $color-primary
				font-weight: $font-heading-weight
				display: inline-block
				margin-right: 6px
	
		.icon.plus
			display: block
		.icon.minus
			display: none
	
		&:not(.collapsed)
			font-weight: $font-heading-weight
	
			.icon.plus
				display: none
			.icon.minus
				display: block
	
		&:hover
			color: $color-primary
			.icon 
				color: $color-primary
	
		.icon
			font-size: 44px


@media (max-width: $breakpoint-xs) 
	.collapsable-item
		.collapsable-question
			padding: 8px 0