.section-hero-import
	.background
		height: 660px
		margin-top: 65px
		background: url(../img/blender/hero-import.jpg) #f3f3f3 repeat-x
		background-size: auto 100%
		background-position-x: center

	.container
		padding-top: 48px
		padding-bottom: 48px

		h2 + p
			margin-bottom: 16px
		p + ul.list
			margin-top: 16px
		ul.list + p
			margin-top: 16px

	.actions
		display: flex
		flex-wrap: nowrap
		align-items: center
		margin-bottom: 48px
		margin-top: 32px
		li
			.btn
				border-color: $color-hero
				min-width: 160px
				&:hover
					background-color: darken($color-background, 5%)
			& + li
				margin-left: -1px


.section-daz-to-blender-guide
	p
	   display: inline

	h3 
		margin-bottom: 12px
		.count
			color: $color-primary

	h4
		font-size: 28px
		margin-bottom: 8px

	ol
		padding-left: 32px
		margin-top: 8px
		list-style-type: decimal
	
		li
			margin-bottom: 8px
			list-style-position: inside


	ul
		margin-top: 16px
		padding-left: 32px

		li
			list-style-type: disc

			ul 
				margin-top: 4px
				li
					list-style-type: circle

	ul:not([class])
		li + li
			margin-top: 4px


	code 
		border: 1px solid #666
		padding: 0 5px
		display: inline-block
		border-radius: 4px



.guide-step
	.toggle
		font-size: 20px
		font-family: $font-heading
		text-decoration: none
		text-transform: uppercase
		.icon
			display: inline-block
			width: 10px
		.minus
			display: none

		&[aria-expanded="true"]
			color: $color-primary
			.plus
				display: none
			.minus
				display: inline-block

	.frame
		padding: 12px 0 24px
	.content
		padding: 24px
		border: 1px solid #eee
		border-radius: 4px
		background: #fafafa

	& + .guide-step 
		margin-top: 16px


main>section:nth-child(even) .guide-step .content
		background: #FDFDFD
		border-color: #eee