#examples-slider
	// display: flex
	margin: 0 -8px
	position: relative

	.slide
		padding: 6px
		text-align: center
		a 
			display: inline-block
			padding: 6px
			background: #FFF
			background-clip: padding-box
			text-decoration: none
			transition: all 0.3s ease-in-out
			text-align: center
			box-shadow: $shadow-img
		
			img
				margin: 0 auto

			span
				display: block
				padding: 6px 0 0 0
				text-align: center
				font-family: $font-heading
				font-style: italic
				font-weight: $font-heading-weight
				text-transform: uppercase

				font-size: 20px
				color: $color-body

			&:hover
				box-shadow: 0 0 14px rgba(99,99,99,0.2)
				span
					color:  $color-primary

	ul.slick-dots
		margin-top: 0px
		position: relative

		li button:before  
			border: 1px solid #ccc

		li.slick-active button:before
			background: $color-primary
			border-color: $color-primary


