.section-hero
	position: relative
	background: $color-hero
	margin-top: 65px
	z-index: 2
	overflow: hidden
	
	[role="presentation"] 
		display: none

.hero
	display: flex
	flex-direction: column
	text-align: left
	justify-content: center
	align-items: flex-start
	color: rgba(255,255,255,0.9)
	overflow: hidden
	height: 720px

	background-image: url(../img/daz/hero.png)
	background-size: contain
	background-repeat: no-repeat
	background-position: 93% 0%

	h1
		margin-bottom: 2px
		color: $color-primary
		line-height: 1
	
	ul[role="complementary"]
		margin: 48px 0
		li
			font-family: $font-heading
			text-transform: uppercase
			font-size: 22px
			font-style: italic

	.btn
		padding: 16px 20px
		min-width: 186px
		line-height: 22px
		font-size: 22px

		span
			display: block
		small
			font-size: 17px
			
		&.btn-secondary
			background-color: rgba($color-hero, 0.9)
			color: inherit


@media (max-width: 1024px)
	.hero
		padding-left: 64px

@media (max-width: $breakpoint-xs) 
	.section-hero 
		background: none
		.container
			padding-left: 0
			padding-right: 0

		.hero 
			background: $color-primary
			padding-left: 32px
			padding-right: 32px
			align-items: stretch
			h1, h3
				color: #FFF
			ul[role="complementary"] li
				color: #FFF

		
		[role="presentation"]
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			background: none
			// background: url(../img/daz/hero.png) no-repeat center bottom
			// background-size: cover
			height: calc(100vh - 54px)
			margin-left: -1 * $padding-xs
			margin-right: -1 * $padding-xs
			color: #FFF

			h1, h3
				text-shadow: 0 0 11px rgba(0,0,0,0.5)
				color: #FFF
			h1
				line-height: 96px
				b:before
					content: " "

		footer
			display: block
			position: relative
			.btn
				display: block
			.btn.btn-primary 
				background: #FFF
				color: $color-primary
			.btn.btn-secondary
				margin: 16px 0 0 0
				background: transparent
				border-color: #FFF
				color: #FFF


.bg-mobile
	display: none
	height: 100vh
	position: fixed
	top: 0
	bottom: 0
	width: 100vw
	background: url(../img/daz/hero.png) no-repeat center bottom
	background-color: $color-hero
	background-size: cover
	border-top: 66px solid #fff


@media (max-width: $breakpoint-xs) 
	.bg-mobile
		display: block