.markdown
	// font-size: 15px
	ul
		padding-left: 32px
		margin-top: 4px
		display: inline-block
		list-style-type: disc

		& + p,
		& + h5
			margin-top: 12px
	p 
		& + p
			margin-top: 12px
		& + ul
			margin-top: 8px

	a:not(.btn)
		color: $color-primary
		text-decoration: underline

	h5
		display: block
		margin-bottom: 8px
		font-size: 20px

	code
		border: 1px solid #ddd
		padding: 2px 4px
		border-radius: 6px
		color: $color-primary


