.container
	max-width: 1184px
	margin: 0 auto
	padding-left: 32px
	padding-right: 32px

@media (max-width: $breakpoint-sm) 
	.container
		padding-left: $padding-sm
		padding-right: $padding-sm

@media (max-width: $breakpoint-xs) 
	.container
		padding-left: $padding-xs
		padding-right: $padding-xs



ul.list
	list-style: disc
	padding-left: 30px
	li + li
		margin-top: 6px

.collapse:not(.show) 
	display: none

.collapsing
	position: relative
	height: 0
	overflow: hidden
	transition: height .35s ease

.text-center
	text-align: center

.svg
	display: inline-block
	width: 18px
	height: 18px
	margin-left: 4px

	&.svg-text
		width: 14px
		height: 14px
		vertical-align: baseline


main > section
	padding: 64px 0
	box-shadow: 0px 10px 30px rgba(100, 100, 100, 0.08)
	background: #FFF
	border-top: 1px solid #EEE
	position: relative

	&:nth-child(1) 
		z-index: 15
	&:nth-child(2) 
		z-index: 14
	&:nth-child(3) 
		z-index: 13
	&:nth-child(4) 
		z-index: 12
	&:nth-child(5) 
		z-index: 11
	&:nth-child(6) 
		z-index: 10
	&:nth-child(7) 
		z-index: 9
	&:nth-child(8) 
		z-index: 8
	&:nth-child(9) 
		z-index: 7
	&:nth-child(10) 
		z-index: 6
	&:nth-child(11) 
		z-index: 5
	&:nth-child(12) 
		z-index: 4
	&:nth-child(13) 
		z-index: 3
	&:nth-child(14) 
		z-index: 2
	&:nth-child(15) 
		z-index: 1

	&:nth-child(even)
		background-color: #F8F8F8

	&:nth-child(odd)
		z-index: 100

.mb-0
	margin-bottom: 0 !important


@media (max-width: $breakpoint-sm) 
	main > section
		padding: 48px 0

@media (max-width: $breakpoint-xs) 
	main > section
		padding: 32px 0