body.modal-open
	overflow: hidden

.modal
	position: fixed
	top: 0
	right: 0
	bottom: 0 
	left: 0
	background: rgba(33,33,33,0.9)
	z-index: 1100
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden

	&[aria-hidden="true"],
	[aria-hidden="true"]
		display: none

.modal-content
	background: #FFF
	padding: 0px
	max-width: 80vw
	max-height: 80vh
	display: flex
	flex-direction: column

.modal-body
	overflow-y: auto
	padding: 24px

.modal-version
	header
		display: flex
		flex-direction: row
		padding: 24px 24px 0
	h3
		color: $color-primary
	h4
		font-size: 20px
		line-height: 20px
	.summary
		padding-left: 24px
	.version
		display: block
	img
		min-width: 112px
		width: 112px
		height: 112px

	footer
		padding: 24px
		border-top: 1px solid #ccc
		text-align: right

		.btn-secondary
			margin: 0 16px 0 0

	.updates 
		border-top: 1px solid #ccc
		margin-top: 24px
		padding-top: 24px
		
		section[aria-hidden="false"] + section[aria-hidden="false"]
			margin-top: 24px
		section[aria-hidden="true"]
			display: none
		section[aria-hidden="false"]
			display: block

	
@media (max-width: $breakpoint-xs) 
	.modal
		align-items: flex-start
	.modal-content
		width: 100%
		max-width: 100%
		max-height: 100%
		padding: 0px
	.modal-body
		paddin: 16px
	.modal-version
		width: 100%
		.summary
			padding: 16px 0 0 0
		header
			flex-direction: column
			padding: 16px 16px 0
			img
				display: none

		footer
			padding: 16px
			display: flex
			flex-direction: column
			align-items: stretch

			.btn-primary
				order: 1
				margin-bottom: 16px

			.btn-secondary
				margin-left: 0
				margin-right: 0
				order: 2



