$navbar-height: 70px

.navbar 
	position: fixed
	left: 0
	right: 0
	top: 0
	background: #FFF
	border-bottom: 1px solid #ddd
	z-index: 1080

.navbar .nav-item
	display: inline
	margin-bottom: 0 !important
	cursor: default
	font-style: italic

.navbar .container 
	display: flex
	flex-wrap: nowrap
	align-items: center
	position: relative
	height: $navbar-height

.navbar [role="menu"] 
	flex-grow: 1

.navbar .nav-link 
	display: inline-block
	font-family: $font-heading
	text-decoration: none
	text-transform: uppercase
	border-radius: 0
	font-size: 20px
	padding: 0px 12px
	height: $navbar-height
	line-height: $navbar-height
	border-bottom: 4px solid transparent
	font-weight: $font-heading-weight
	letter-spacing: 0.3px


.navbar .nav-link.active
	color: $color-primary
	border-color: $color-primary

.navbar .btn.btn-primary 
	display: block
	font-family: $font-heading
	text-decoration: none
	color: #FFF
	background-color: $color-primary
	padding: 20px 32px
	font-size: 20px
	min-width: 100px

.navbar .btn.btn-primary:hover 
	background-color: lighten($color-primary, 5%)
	transition: all 0.3s ease-in

.navbar 
	.navbar-brand 
		margin-right: 12px
		// margin-bottom: 24px

		.icon-avatar 
			border-radius: 23px
			border: 3px solid #eee
			box-sizing: border-box
			display: block
			width: 50px
			height: 50px
			background: url(../img/daz/avatar8b.jpg)
			background-size: cover
			background-position: center center
			cursor: pointer

.navbar .navbar-brand:hover .icon-avatar 
	border-color: #bbb

@media (max-width: 992px) 
	.navbar 
		.container 
			padding: 12px 12px
			height: auto;  
		
		.nav-link 
			height: 54px;
			
		[role="menu"] 
			overflow: hidden
			position: fixed
			background: #FFF
			left: 0
			right: 0
			top: 68px
			display: none
			padding-bottom: 24px
			
			.nav-item 
				display: block
				width: 100%
			
		.btn.btn-primary 
			display: inline-block
			padding: 6px 25px

		.navbar-brand .icon-avatar
			width: 40px
			height: 40px
			border-color: #FFF
			border: 0
			box-shadow: 0 0 10px rgba(50,50,50,0.1)

		.navbar-nav:nth-child(3) 
			flex-grow: 1
			text-align: right

		&.open
			[role="menu"]
				display: block
				border-top: 1px solid #ddd
				.nav-link
					display: block
					line-height: 54px
					border: 0
					&.active
						border: none
						background: #ddd
 


		
