.section-guide
	[role="article"]
		display: flex
		flex-wrap: no-wrap


	[role="article"] + [role="article"]
		padding-top: 80px
		position: relative
		clear: both
		&:before
			content: ''
			display: block
			position: absolute
			width: 100%
			border-top: 1px dotted #bbb
			top: 40px
			clear: both

	&:after
		content: ''
		display: block
		clear: both

	[role="presentation"]
		padding-right: 32px
		margin-bottom: 16px
		img
			border: 5px solid #FFF
			min-width: 200px
			box-shadow: $shadow-img
		    
@media (max-width: $breakpoint-xs) 
	.section-guide [role="article"]
		flex-direction: column