.section-examples footer 
	display: -webkit-box
	display: flex

.section-examples .slick-track 
	background: #ddd

.examples-wrapper 
	width: 50%
	display: -webkit-box
	display: flex
	flex-wrap: nowrap

	h4
		font-size: 22px
		border-bottom: 1px solid $color-body
		display: inline-block
		line-height: 30px
		// color: $color-primary


	.slider-buttons button 
		font-family: "Barlow Condensed", serif
		line-height: 1.625
		font-size: 18px

	.slick-slide
		background: rgba(33,33,33,0.1)
	
	.slider-buttons .slick-active button 
		color: #ea5b3f
		font-weight: 400
	.slick-dots
		position: relative
		bottom: auto
		li
			display: block
			width: 100%
			height: auto
			button
				width: 100%
				height: auto
				padding: 0
				font-size: 18px
				color: $color-body
				line-height: 1.625
				&:before
					display: none
	
	&-mine 
		padding-right: 16px
		.slider-buttons 
			button 
				padding-left: 8px
				padding-right: 16px
			
		.slick-dots li button
			text-align: right
		
		h4 
			text-align: right
			margin-bottom: 8px
		
		.examples-actions 
			text-align: right
			padding-right: 16px
		
	
	&-others 
		padding-left: 16px

		.slick-dots li button
			text-align: left
		h4 
			margin-bottom: 8px
		
		.examples-actions 
			-webkit-box-ordinal-group: 3
			order: 2
			padding-left: 16px
		
		.slider-buttons 
			button 
				padding-left: 16px
				padding-right: 8px
			
		
	

.examples-actions 
	width: 33.333333%

.slider-examples 
	width: 66.666667%

.examples-all 
	text-decoration: none
	font-family: "Barlow Condensed", serif
	display: block
	margin-top: 16px
	font-size: 18px

.section-examples 
	border-top: 1px solid #ddd
	border-bottom: 1px solid #ddd
	header h2, header p 
		text-align: center
	
	[role="cell"] 
		width: 50%
		&:first-child 
			padding-right: 16px
		
		&:last-child 
			padding-left: 16px
		
	
	footer 
		margin-top: 48px
		display: -webkit-box
		display: flex
		flex-wrap: nowrap
	

@media (max-width: 767.8px) 
	.section-examples header h2, .section-examples header p 
		text-align: left

	.section-examples footer 
		flex-wrap: wrap

	.examples-wrapper 
		width: 100%
		padding-left: 0
		padding-right: 0
		&-mine 
			margin-bottom: 32px
			.slick-dots li button
				text-align: left
			.examples-actions 
				-webkit-box-ordinal-group: 3
				order: 2
				padding-left: 16px
				padding-right: 0
				text-align: left
				h4 
					text-align: left
				
			
			.slider-buttons 
				text-align: left
				button 
					padding-left: 0
				
			
		
		.slider-buttons button 
			text-align: left
		

	.examples-actions 
		padding-right: 0

