=card-layout($w, $p)
	margin-left: -1 * $p
	margin-right: -1 * $p
	li.asset
		margin-left: $p
		margin-right: $p
		margin-bottom: 2 * $p
		width: calc(#{$w} - 2 * #{$p})

.recommended 
	+card-layout(33.3%, 16px)
	display: flex
	flex-wrap: wrap
	list-style: none
	margin-top: 24px
	padding: 0

	li.asset
		box-sizing: border-box

		.asset-image
			background: #FFF
			padding: 5px
			box-shadow: $shadow-img
	
		img
			border: 0

		a
			text-decoration: none
			color: $color-primary
			&:hover
				color: darken($color-primary, 5%)
		h4
			display: flex
			justify-content: center
			align-items: center
			padding: 20px 0 12px
			font-size: 24px
			line-height: 100%
			span
				flex-grow: 1


@media (max-width: $breakpoint-sm) 
	.recommended 
		+card-layout(33%, 8px)

@media (max-width: $breakpoint-xs) 
	.recommended 
		+card-layout(100%, 8px)
		li.asset
			margin-bottom: 32px

