.section-contact
	header
		margin-bottom: 32px
	footer
		display: flex
	[role="cell"]
		padding-right: 8px
		padding-bottom: 8px
		&:first-child
			width: 33.3%	

	h4 
		font-size: 22px
		strong
			color: $color-primary
	a
		text-decoration: none

@media (max-width: $breakpoint-xs) 
	.section-contact
		[role="cell"]:first-child,
		[role="cell"]:last-child
			width: 100%
		footer
			flex-direction: column
			padding-bottom: 64px