.section-features
	mark
		color: #FFF
		font-family: $font-heading
		text-transform: uppercase
		padding: 3px 7px
		background: $color-primary
		font-style: italic
		font-weight: $font-heading-weight

=card-layout($w, $p)
	margin-left: -1 * $p
	margin-right: -1 * $p
	li.feature
		margin-left: $p
		margin-right: $p
		margin-bottom: 2 * $p
		width: calc(#{$w} - 2 * #{$p})

.features 
	+card-layout(25%, 16px)
	display: flex
	flex-wrap: wrap
	list-style: none
	margin-top: 24px
	align-items: flex-start
	padding: 0

	li.feature
		box-sizing: border-box
		background: #FFF
		cursor: pointer
		transition: all 0.3s ease-in-out
		box-shadow: $shadow-img
		border: 1px solid #FFF
		padding: 5px

		&:hover:not(.disabled)
			border-color:#e5e5e5
			box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)

		&.disabled
			cursor: default

		.feature-image
			background: #F3F3F3
	
		img
			border: 0

		header
			display: flex
			flex-wrap: nowrap
			align-items: center
			padding: 10px 0 2px

		h4
			flex-grow: 1
			font-size: 22px
			line-height: 100%

		p
			padding: 6px 0
			font-size: 15px
			line-height: 20px


		.minus,
		.plus 
			font-family: $font-heading
			font-size: 24px
			padding-right: 4px
			line-height: 100%

		&.collapsed .minus
			display: none

		&:not(.collapsed) .plus 
			display: none

@media (max-width: $breakpoint-sm) 
	.features 
		+card-layout(33%, 8px)

@media (max-width: $breakpoint-xs) 
	.features 
		+card-layout(50%, 8px)

