.tooltip 
	opacity: 1 
	display: inline 
	position: relative 
	text-decoration: underline 
	cursor: help 
	color: #9e6039 
.tooltip_templates 
	display: none 
.tooltip-image 
	width: 300px 
	height: 300px 
.tooltipster-sidetip 
	.tooltipster-content 
		overflow: visible !important 
		padding: 10px !important 
		color: #FFF 
	&.tooltipster-light 
		.tooltipster-box 
			border: 0 !important 
			background: [object Object] !important 
		&.tooltipster-top 
			.tooltipster-arrow-background 
				border-top-color: [object Object] !important 
		&.tooltipster-bottom 
			.tooltipster-arrow-background 
				border-bottom-color: [object Object] !important 
.tooltip-large 
	.tooltip-image 
		width: 519px 
		height: 519px 
