html
	font-size: 16px;

body 
	background: $color-background
	font-family: $font-body
	line-height: 1.5
	color: $color-body
  
h1, h2, h3, h4, h5, h6
	font-family: $font-heading
	text-transform: uppercase
	font-weight: $font-heading-weight
	font-style: italic

h1
	font-size: 128px

h2
	font-size: 44px
	& + p
		margin-top: 16px
		margin-bottom: 32px
		// background: #f00
	b
		color: $color-primary
		font-weight: $font-heading-weight
h3
	font-size: 32px

h5
	font-size: 22px

a
	text-decoration: underline
	color: $color-link

@media (max-width: $breakpoint-xs) 
	h1
		font-size: 100px

	h3
		font-size: 32px

	h2
		font-size: 36px
		line-height: 40px
		& + p
			margin-bottom: 24px
	h5
		font-size: 20px