@import '_variables'
@import '_variables-blender'
@import '_typography'
@import '_button'
@import '_section-features'
@import '_section-contact'
@import '_section-changelog'
@import '_section-guide'
@import '_section-divider'
@import '_section-recommended'
@import '_section-examples'
@import '_section-video'
@import '_markdown'
@import '_navbar'
@import '_misc'
@import '_collapsable-item'
@import '_examples-slider'
@import '_hero'
@import '_modal'
@import '_daz-to-blender'
@import '_tooltips'

.section-hero
	// background-image: url(../img/blender/hero-bg.jpg) 
	background-color: #e3e5e4
	background-size: cover
	background-repeat: no-repeat
	background-position: center center


.hero
	background-image: url(../img/blender/hero-desktop-2.jpg)
	background-size: cover
	background-repeat: no-repeat
	background-position: 61% 0%
	box-shadow: 0 0 50px rgba(50, 50, 50, 0.1)
	padding-left: 48px
	color: #9ea9ad

	h1 b
		display: inline-block
		font-size: 50px
		margin-left: 6px

	.btn.btn-secondary
		background: $color-secondary
		border-color: $color-secondary
		color: #fff

@media (max-width: $breakpoint-xs) 
	.section-hero
		background: transparent
	
.bg-mobile
	background: url(../img/blender/hero-mobile-2.jpg) no-repeat center bottom
	background-color: $color-hero
	background-size: cover
